config gvs 'main'

	option enabled '0'
	option gvs_interface ''
	option passive_interface ''
	option host_interface ''
	option gvs_local_address ''
	option indoor_ipaddr ''
	option indoor_netmask ''
	option uplink_interface ''
	option sync_state_path '/etc/config/doorfast-sync'
	option passive_only '1'
	option active_host '0'
	option capture_promiscuous '0'
	option access_material ''
