config gvs 'main'

	option enabled '0'
	option gvs_interface ''
	option passive_interface ''
	option host_interface ''
	option gvs_local_address ''
	option multicast_mode 'auto'
	option multicast_address ''
	option indoor_ipaddr ''
	option indoor_netmask ''
	option uplink_interface ''
	option sync_state_path '/etc/config/doorfast-sync'
	option sync_mini1_secretkey ''
	option sync_mini2_secretkey ''
	option passive_only '1'
	option active_host '0'
	option capture_promiscuous '0'
	option access_material ''
	option media_enabled '0'
	option media_station_address ''
	option media_station_ipv4 ''
	option media_go2rtc_host ''
	option media_go2rtc_port '8554'
	option media_stream_name 'doorfast_preview'
	option media_rtsp_username 'doorfast'
	option media_encoder 'auto'
	option media_resolution 'source'
	option media_fps '10'
	option media_bitrate_kbps '800'
	option media_profile 'baseline'
	option media_min_free_kib '393216'
	option media_preview_timeout '120'
	option media_first_frame_timeout '8'
	option media_relay_url ''
