config inline 'main'
	option enabled '0'
	option recording_enabled '0'
	option bridge ''
	option upstream ''
	option downstream ''
	option management ''
	option evidence_root '/mnt/doorfast'
	option recent_budget_mib '14336'
	option control_budget_mib '8192'
	option log_budget_mib '1024'
	option reserve_mib '6144'
